---
title: Welcome to myVibes
---

<!-- Start Banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay" style="background: linear-gradient(140deg, rgba(137,251,222,1) 0%, rgba(249,245,134,0.31556372549019607) 64%);"></div>
				<div class="container">

			<!-- Start Header Area -->
			<header class="default-header">
				<div class="container">
					<div class="header-wrap">
						<div class="header-top d-flex justify-content-between align-items-center">
							<div class="logo">
								<h4 style="color: white;">MyVibes</h4>
							</div>
							<div class="main-menubar d-flex align-items-center">
								<nav class="hide">
									<a href="#home">Home</a>
									<a href="#feature">Feature</a>
									<a href="#about">About</a>
									<a href="#contact">Contact</a>
								</nav>
								<div class="menu-bar"><span class="lnr lnr-menu"></span></div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!-- End Header Area -->


					<div class="row fullscreen align-items-center justify-content-center" style="height: 735px;">
						<div class="col-lg-10">
							<div class="banner-content text-center">
								<h1 class="text-uppercase text-white">Make Some Noise</h1>
								<p class="text-uppercase mx-auto icons">
									Available on the Apple Store or Android PlayStore
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Banner Area -->

			<!-- Start quote Area -->
			<section class="quote-area pt-100 pb-100">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-sm-12 quote-left">
							<h2 class="text-right">
								<span>iDj</span> gives you the power<br>
								to choose the <span>tunes</span> that play<br>
								in your <span>favourite</span> bars and pubs.
							</h2>
						</div>
						<div class="col-lg-6 col-sm-12 quote-right">
							<p class="text-left">
								Our app let's you create the vibe, and in iDj venues you'll discover the best music for the off-the-chart new releases to forgotten classics.<br />
								Whether you want to pick tunes to hear right now or save what's playing to iTunes and Spotify to enjoy later iDj is your digital companion.
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- End quote Area -->

			<h1 style="text-align:center;">Places where you can fin iDj</h1>

			<!-- Start feature Area -->
			<section class="feature-area pb-100 mt-50" id="feature">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-4 no-padding single-img">
							  <img src="images/f1.jpg" class="image img-fluid">
							  <div class="middle">
							    <h2 class="text-uppercase text-white">Tropicalista</h2>
							    <p>Cocktail Bar</p>
							  </div>
						</div>
						<div class="col-lg-4 col-md-4 no-padding single-img">
							  <img src="images/f2.jpg" class="image img-fluid">
							  <div class="middle">
							    <h2 class="text-uppercase text-white">Joy</h2>
							    <p>Night Club</p>
							  </div>
						</div>
						<div class="col-lg-4 col-md-4 no-padding single-img">
							  <img src="images/f3.jpg" class="image img-fluid">
							  <div class="middle">
							    <h2 class="text-uppercase text-white">Carbon</h2>
							    <p>Tapas restaurant</p>
							  </div>
						</div>
						<div class="col-lg-6 col-sm-12 no-padding single-img">
							  <img src="images/f4.jpg" class="image img-fluid">
							  <div class="middle2">
							  	<a href="https://www.youtube.com/watch?v=L3V7LKYPIUQ" class="play-btn">
							  		<img class="vdo-icon" src="images/video-btn.png" alt="">
							  	</a>
							    <h2 class="text-uppercase text-white">Lolita</h2>
							    <p>Lounge Bar</p>
							  </div>
						</div>
						<div class="col-lg-6 col-sm-12 no-padding single-img">
							  <img src="images/f5.jpg" class="image img-fluid">
							  <div class="middle2">
							  	<a href="https://www.youtube.com/watch?v=L3V7LKYPIUQ" class="play-btn">
							  		<img class="vdo-icon" src="images/video-btn.png" alt="">
							  	</a>
							    <h2 class="text-uppercase text-white">3 Gallos</h2>
							    <p>Lounge Bar</p>
							  </div>
						</div>

					</div>
				</div>
			</section>
			<!-- End feature Area -->

			<!-- Start service Area -->
			<section class="service-area pt-100 pb-100" data-parallax="scroll" data-image-src="images/service-bg.jpg">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="single-service d-flex justify-content-between align-items-top">
								<div class="icon">
									<img src="images/s1.png" alt="">
								</div>
								<div class="desc">
									<h4 class="text-uppercase">Find your music venue</h4>
									<p>
										idj helps you find the venue that will give you the best experience through the music.
									</p>
								</div>
							</div>
							<div class="single-service d-flex justify-content-between align-items-top">
								<div class="icon">
									<img src="images/s2.png" alt="">
								</div>
								<div class="desc">
									<h4 class="text-uppercase">Your song is next</h4>
									<p>
										iDj gives you the power to choose the tunes that will play next.
									</p>
								</div>
							</div>
							<div class="single-service d-flex justify-content-between align-items-top">
								<div class="icon">
									<img src="images/s3.png" alt="">
								</div>
								<div class="desc">
									<h4 class="text-uppercase">What's the name of that song?</h4>
									<p>
										iDj gives you the tools to save what's playing to iTunes and Spotify to enjoy later.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End service Area -->

			<!-- Start About Area -->
			<section class="about-area" id="about">
				<div class="container-fluid">
					<div class="row  d-flex justify-content-start align-items-center">
						<div class="col-lg-6 col-md-12 no-padding">
							<!-- <img class="img-fluid" src="images/about-img.png" alt=""> -->


							<div class="songs">
								<div class="track">
									<div class="trackplay">
										<div class="play">
											<button class="bubbly-button"></button>
										</div>
										<div class="trackname">
											<h3>Eclipse</h3>
											<h4>LOONA KimLip</h4>
										</div>
									</div>
									<div class="fav">
										<div>
											<svg class="feather" xmlns="http://www.w3.org/2000/svg" width="2.4rem" height="2.4rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
											<path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
										 </svg>
										</div>
									</div>
								</div>
								<div class="track">
									<div class="trackplay">
										<div class="play">
											<button class="bubbly-button" style="background-image: url(https://i.pinimg.com/564x/96/7a/04/967a040a408ce24162d86756c5e09317.jpg)"></button>
										</div>
										<div class="trackname">
											<h3>La Vie en Rose</h3>
											<h4>IZ*ONE</h4>
										</div>
									</div>
									<div class="fav">
										<div>
											<svg class="feather" xmlns="http://www.w3.org/2000/svg" width="2.4rem" height="2.4rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
											<path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
										 </svg>
										</div>
									</div>
								</div>
								<div class="track">
									<div class="trackplay">
										<div class="play">
											<button class="bubbly-button" style="background-image: url(https://i.pinimg.com/564x/98/e8/2f/98e82f4b00501cfdcce09cdf35f7b1e2.jpg)"></button>
										</div>
										<div class="trackname">
											<h3>And There Was No One</h3>
											<h4>Dreamcatcher</h4>
										</div>
									</div>
									<div class="fav">
										<div>
											<svg class="feather" xmlns="http://www.w3.org/2000/svg" width="2.4rem" height="2.4rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
											<path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
										 </svg>
										</div>
									</div>
								</div>
								<div class="track">
									<div class="trackplay">
										<div class="play">
											<button class="bubbly-button" style="background-image: url(https://i.pinimg.com/564x/6c/ff/7d/6cff7d0cd0dd805d0343bff6b5dc3c60.jpg)"></button>
										</div>
										<div class="trackname">
											<h3>Bye Bye</h3>
											<h4>APINK</h4>
										</div>
									</div>
									<div class="fav">
										<div>
											<svg class="feather" xmlns="http://www.w3.org/2000/svg" width="2.4rem" height="2.4rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
											<path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
										 </svg>
										</div>
									</div>
								</div>
						
							</div>




						</div>
						<div class="about-details col-lg-4 col-md-12">
							<h2>
								Our Latest <span>Djs</span>
							</h2>
							<p>
								Meet the latest iDjs who picked the most tracks and became The iDj king at their local.
							</p>
							<p>
								This award not only gives you extra daily song credits, it also guarantees your request always plays next.
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- End About Area -->

			<!-- Start member Area -->
			<section class="member-area relative pt-100 pb-100">
				<div class="overlay overlay-bg"></div>
				<div class="container relative">
					<div class="row  d-flex justify-content-start align-items-center">
							<div class="about-details col-lg-6 col-md-12">
									<h2>
										Your <span>Top Picks</span>
									</h2>
									<p>
										Take a listen to the most requested songs across the iDj network this week.
									</p>
									<p>
										And remember, it's your set so if you want a fave tune added, get in touch today.
									</p>
								</div>
						<div class="col-lg-4 col-md-12 no-padding">
							<!-- <img class="img-fluid" src="images/about-img.png" alt=""> -->

							
							<div class="songs">
								<div class="track">
									<div class="trackplay">
										<div class="play">
											<button class="bubbly-button"></button>
										</div>
										<div class="trackname">
											<h3>Eclipse</h3>
											<h4>LOONA KimLip</h4>
										</div>
									</div>
									<div class="fav">
										<div>
											<svg class="feather" xmlns="http://www.w3.org/2000/svg" width="2.4rem" height="2.4rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
											<path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
										 </svg>
										</div>
									</div>
								</div>
								<div class="track">
									<div class="trackplay">
										<div class="play">
											<button class="bubbly-button" style="background-image: url(https://i.pinimg.com/564x/96/7a/04/967a040a408ce24162d86756c5e09317.jpg)"></button>
										</div>
										<div class="trackname">
											<h3>La Vie en Rose</h3>
											<h4>IZ*ONE</h4>
										</div>
									</div>
									<div class="fav">
										<div>
											<svg class="feather" xmlns="http://www.w3.org/2000/svg" width="2.4rem" height="2.4rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
											<path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
										 </svg>
										</div>
									</div>
								</div>
								<div class="track">
									<div class="trackplay">
										<div class="play">
											<button class="bubbly-button" style="background-image: url(https://i.pinimg.com/564x/98/e8/2f/98e82f4b00501cfdcce09cdf35f7b1e2.jpg)"></button>
										</div>
										<div class="trackname">
											<h3>And There Was No One</h3>
											<h4>Dreamcatcher</h4>
										</div>
									</div>
									<div class="fav">
										<div>
											<svg class="feather" xmlns="http://www.w3.org/2000/svg" width="2.4rem" height="2.4rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
											<path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
										 </svg>
										</div>
									</div>
								</div>
								<div class="track">
									<div class="trackplay">
										<div class="play">
											<button class="bubbly-button" style="background-image: url(https://i.pinimg.com/564x/6c/ff/7d/6cff7d0cd0dd805d0343bff6b5dc3c60.jpg)"></button>
										</div>
										<div class="trackname">
											<h3>Bye Bye</h3>
											<h4>APINK</h4>
										</div>
									</div>
									<div class="fav">
										<div>
											<svg class="feather" xmlns="http://www.w3.org/2000/svg" width="2.4rem" height="2.4rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
											<path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
										 </svg>
										</div>
									</div>
								</div>
						
							</div>




						</div>
						
					</div>
				</div>
			</section>
			<!-- End member Area -->


			<!-- Start contact Area -->
			<section class="contact-area pt-100 pb-100" id="contact">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-4 title-section">
							<h2 class="text-uppercase">
								Send <br>
								Us a<br>
								Message
							</h2>
							<p>
								We won’t send any kind of spam
							</p>
						</div>
						<div class="col-lg-8">
								<form id="myForm" action="mail.php" method="post" class="contact-form">
									<div class="row justify-content-center">
										<div class="col-lg-6">
											<input name="fname" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mt-20" required="" type="text">

											<input name="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mt-20" required="" type="email">

											<input name="phone" placeholder="Enter phone number"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter phone number'" class="common-input mt-20" required="" type="tel">
										</div>
										<div class="col-lg-6">
											<textarea class="common-textarea mt-20" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>

											<button class="primary-btn d-inline-flex align-items-center mt-20"><span class="mr-10">Send Message</span><span class="lnr lnr-arrow-right"></span></button> <br>
											<div class="alert-msg"></div>
										</div>
									</div>
								</form>
						</div>
					</div>
				</div>
			</section>
			<!-- End contact Area -->


			<!-- Strat Footer Area -->

			<footer class="footer-area">
				<div class="container">
					<div class="row footer-content">
						<div class="col-lg-6 copy-right-text">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by Team 2
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</div>
						<div class="col-lg-6 footer-social">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</footer>

			<!-- End Footer Area -->


			<script src="javascripts/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
			<script src="javascripts/vendor/bootstrap.min.js"></script>
			<script src="javascripts/owl.carousel.min.js"></script>
			<script src="javascripts/jquery.sticky.js"></script>
			<script src="javascripts/parallax.min.js"></script>
			<script src="javascripts/jquery.magnific-popup.min.js"></script>
			<script src="javascripts/main.js"></script>
